# Introducción a la Programación para Ciencia de Datos
## Lenguaje de programación R
_Rocío Romero Zaliz_ - rocio@decsai.ugr.es

# Cadenas de caracteres en R

Aunque R es un lenguaje estadístico en el que los vectores numéricos y las matrices desempeñan un papel central, las cadenas de caracteres también son necesarias y R dispone de una serie de utilidades de manipulación de cadenas.

In [1]:
texto <- "Ciencia de datos"
class(texto)

[1] "character"

In [2]:
length(texto)

[1] 1

In [3]:
nchar("Ciencia de Datos")

[1] 16

In [4]:
textos <- c("hola", 'mundo')
length(textos)

[1] 2

In [5]:
class(textos)

[1] "character"

In [6]:
print(textos)

[1] "hola"  "mundo"

In [7]:
# String construction

empty_str <- character(10)
print(empty_str)

 [1] "" "" "" "" "" "" "" "" "" ""

In [8]:
paste("Ciencia", "de", "Datos")

[1] "Ciencia de Datos"

In [9]:
paste("Ciencia", "de", "Datos", sep="_|_")

[1] "Ciencia_|_de_|_Datos"

In [10]:
paste("Ciencia", c("hola", "mundo"), "cierta")

[1] "Ciencia hola cierta"  "Ciencia mundo cierta"

In [11]:
paste(1:3, 1:5, sep="_")

[1] "1_1" "2_2" "3_3" "1_4" "2_5"

In [12]:
paste(1:3, 1:5, sep="_", collapse="|")

[1] "1_1|2_2|3_3|1_4|2_5"

In [13]:
?paste

paste                   package:base                   R Documentation

_C_o_n_c_a_t_e_n_a_t_e _S_t_r_i_n_g_s

_D_e_s_c_r_i_p_t_i_o_n:

     Concatenate vectors after converting to character.  Concatenation
     happens in two basically different ways, determined by ‘collapse’
     being a string or not.

_U_s_a_g_e:

     paste (..., sep = " ", collapse = NULL, recycle0 = FALSE)
     paste0(...,            collapse = NULL, recycle0 = FALSE)

_A_r_g_u_m_e_n_t_s:

     ...: one or more R objects, to be converted to character vectors.

     sep: a character string to separate the terms.  Not
          ‘NA_character_’.

collapse: an optional character string to separate the results.  Not
          ‘NA_character_’.  When ‘collapse’ is a string, the result is
          always a string (‘character’ of length 1).

recycle0: ‘logical’ indicating if zero-length character arguments
          should result in the zero-length ‘character(0)’.  Note that
          when ‘collapse’ is a string, ‘recycle0’ does _not_ recycle to
          zero-length, but to ‘""’.

_D_e_t_a_i_l_s:

     ‘paste’ converts its arguments (_via_ ‘as.character’) to character
     strings, and concatenates them (separating them by the string
     given by ‘sep’).

     If the arguments are vectors, they are concatenated term-by-term
     to give a character vector result.  Vector arguments are recycled
     as needed.  Zero-length arguments are recycled as ‘""’ unless
     ‘recycle0’ is ‘TRUE’ and ‘collapse’ is ‘NULL’.

     Note that ‘paste()’ coerces ‘NA_character_’, the character missing
     value, to ‘"NA"’ which may seem undesirable, e.g., when pasting
     two character vectors, or very desirable, e.g. in ‘paste("the
     value of p is ", p)’.

     ‘paste0(..., collapse)’ is equivalent to ‘paste(..., sep = "",
     collapse)’, slightly more efficiently.

     If a value is specified for ‘collapse’, the values in the result
     are then concatenated into a single string, with the elements
     being separated by the value of ‘collapse’.

_V_a_l_u_e:

     A character vector of the concatenated values.  This will be of
     length zero if all the objects are, unless ‘collapse’ is non-NULL,
     in which case it is ‘""’ (a single empty string).

     If any input into an element of the result is in UTF-8 (and none
     are declared with encoding ‘"bytes"’, see ‘Encoding’), that
     element will be in UTF-8, otherwise in the current encoding in
     which case the encoding of the element is declared if the current
     locale is either Latin-1 or UTF-8, at least one of the
     corresponding inputs (including separators) had a declared
     encoding and all inputs were either ASCII or declared.

     If an input into an element is declared with encoding ‘"bytes"’,
     no translation will be done of any of the elements and the
     resulting element will have encoding ‘"bytes"’.  If ‘collapse’ is
     non-NULL, this applies also to the second, collapsing, phase, but
     some translation may have been done in pasting object together in
     the first phase.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.

_S_e_e _A_l_s_o:

     ‘toString’ typically calls ‘paste(*, collapse=", ")’.  String
     manipulation with ‘as.character’, ‘substr’, ‘nchar’, ‘strsplit’;
     further, ‘cat’ which concatenates and writes to a file, and
     ‘sprintf’ for C like string construction.

     ‘plotmath’ for the use of ‘paste’ in plot annotation.

_E_x_a_m_p_l_e_s:

     ## When passing a single vector, paste0 and paste work like as.character.
     paste0(1:12)
     paste(1:12)        # same
     as.character(1:12) # same

     ## If you pass several vectors to paste0, they are concatenated in a
     ## vectorized way.
     (nth <- paste0(1:12, c("st", "nd", "rd", rep("th", 9))))

     ## paste works the same, but separates each input with a space.
     ## Notice that the recycling rules make every input as long as the longest input.
     paste(month.abb, "is the", nth, "month of the year.")
     paste(month.abb, letters)

     ## You can change the separator by passing a sep argument
     ## which can be multiple characters.
     paste(month.abb, "is the", nth, "month of the year.", sep = "_*_")

     ## To collapse the output into a single string, pass a collapse argument.
     paste0(nth, collapse = ", ")

     ## For inputs of length 1, use the sep argument rather than collapse
     paste("1st", "2nd", "3rd", collapse = ", ") # probably not what you wanted
     paste("1st", "2nd", "3rd", sep = ", ")

     ## You can combine the sep and collapse arguments together.
     paste(month.abb, nth, sep = ": ", collapse = "; ")

     ## Using paste() in combination with strwrap() can be useful
     ## for dealing with long strings.
     (title <- paste(strwrap(
         "Stopping distance of cars (ft) vs. speed (mph) from Ezekiel (1930)",
         width = 30), collapse = "\n"))
     plot(dist ~ speed, cars, main = title)

     ## zero length arguments recycled as `""` -- NB: `{}` <==> character(0)  here
     paste({}, 1:2)

     ## 'recycle0 = TRUE' allows standard vectorized behaviour, i.e., zero-length
     ##                   recycling resulting in zero-length result character(0):
     valid <- FALSE
     val <- pi
     paste("The value is", val[valid], "-- not so good!") # ->  ".. value is  -- not .."
     paste("The value is", val[valid], "-- good: empty!", recycle0=TRUE) # -> character(0)

     ## When 'collapse = <string>',  result is (length 1) string in all cases
     paste("foo", {}, "bar", collapse = "|")                  # |-->  "foo  bar"
     paste("foo", {},        collapse = "|", recycle0 = TRUE) # |-->  ""
     ## If all arguments are empty (and collapse a string),   ""  results always
     paste(    collapse = "|")
     paste(    collapse = "|", recycle0 = TRUE)
     paste({}, collapse = "|")
     paste({}, collapse = "|", recycle0 = TRUE)

## Ejemplo

* Dado un conjunto de datos, anonimizar los nombres de las columnas

In [14]:
data <- data.frame(name = c("Susan", "Greg", "Amy", "Laura", "David"), 
                   lastname = c("Wilson", "Gray", "Sanders", "Xeon", "Rogers"), 
                   gender = c("F", "M", "F", "F", "M"), age = c(23, 46, 32, 90, 53))
data

  name  lastname gender age
1 Susan Wilson   F      23
2 Greg  Gray     M      46
3 Amy   Sanders  F      32
4 Laura Xeon     F      90
5 David Rogers   M      53

In [15]:
colnames(data)

[1] "name"     "lastname" "gender"   "age"

In [16]:
colnames(data) <- paste("var", 1:dim(data)[2], sep="_")
data

  var_1 var_2   var_3 var_4
1 Susan Wilson  F     23
2 Greg  Gray    M     46
3 Amy   Sanders F     32
4 Laura Xeon    F     90
5 David Rogers  M     53

## Funciones básicas para trabajar con cadenas de caracteres

In [17]:
substr("Ciencia de Datos", 3, 5)

[1] "enc"

In [18]:
# substr("Ciencia de Datos", 12) # Error!

In [19]:
?substr

substr                  package:base                   R Documentation

_S_u_b_s_t_r_i_n_g_s _o_f _a _C_h_a_r_a_c_t_e_r _V_e_c_t_o_r

_D_e_s_c_r_i_p_t_i_o_n:

     Extract or replace substrings in a character vector.

_U_s_a_g_e:

     substr(x, start, stop)
     substring(text, first, last = 1000000L)

     substr(x, start, stop) <- value
     substring(text, first, last = 1000000L) <- value

_A_r_g_u_m_e_n_t_s:

 x, text: a character vector.

start, first: integer.  The first element to be extracted or replaced.

stop, last: integer.  The last element to be extracted or replaced.

   value: a character vector, recycled if necessary.

_D_e_t_a_i_l_s:

     ‘substring’ is compatible with S, with ‘first’ and ‘last’ instead
     of ‘start’ and ‘stop’.  For vector arguments, it expands the
     arguments cyclically to the length of the longest _provided_ none
     are of zero length.

     When extracting, if ‘start’ is larger than the string length then
     ‘""’ is returned.

     For the extraction functions, ‘x’ or ‘text’ will be converted to a
     character vector by ‘as.character’ if it is not already one.

     For the replacement functions, if ‘start’ is larger than the
     string length then no replacement is done.  If the portion to be
     replaced is longer than the replacement string, then only the
     portion the length of the string is replaced.

     If any argument is an ‘NA’ element, the corresponding element of
     the answer is ‘NA’.

     Elements of the result will be have the encoding declared as that
     of the current locale (see ‘Encoding’) if the corresponding input
     had a declared Latin-1 or UTF-8 encoding and the current locale is
     either Latin-1 or UTF-8.

     If an input element has declared ‘"bytes"’ encoding (see
     ‘Encoding’), the subsetting is done in units of bytes not
     characters.

_V_a_l_u_e:

     For ‘substr’, a character vector of the same length and with the
     same attributes as ‘x’ (after possible coercion).

     For ‘substring’, a character vector of length the longest of the
     arguments.  This will have names taken from ‘x’ (if it has any
     after coercion, repeated as needed), and other attributes copied
     from ‘x’ if it is the longest of the arguments).

     For the replacement functions, a character vector of the same
     length as ‘x’ or ‘text’, with ‘attributes’ such as ‘names’
     preserved.

     Elements of ‘x’ or ‘text’ with a declared encoding (see
     ‘Encoding’) will be returned with the same encoding.

_N_o_t_e:

     The S version of ‘substring<-’ ignores ‘last’; this version does
     not.

     These functions are often used with ‘nchar’ to truncate a display.
     That does not really work (you want to limit the width, not the
     number of characters, so it would be better to use ‘strtrim’), but
     at least make sure you use the default ‘nchar(type = "chars")’.

_R_e_f_e_r_e_n_c_e_s:

     Becker, R. A., Chambers, J. M. and Wilks, A. R. (1988) _The New S
     Language_.  Wadsworth & Brooks/Cole.  (‘substring’.)

_S_e_e _A_l_s_o:

     ‘strsplit’, ‘paste’, ‘nchar’.

_E_x_a_m_p_l_e_s:

     substr("abcdef", 2, 4)
     substring("abcdef", 1:6, 1:6)
     ## strsplit() is more efficient ...

     substr(rep("abcdef", 4), 1:4, 4:5)
     x <- c("asfef", "qwerty", "yuiop[", "b", "stuff.blah.yech")
     substr(x, 2, 5)
     substring(x, 2, 4:6)

     X <- x
     names(X) <- LETTERS[seq_along(x)]
     comment(X) <- noquote("is a named vector")
     str(aX <- attributes(X))
     substring(x, 2) <- c("..", "+++")
     substring(X, 2) <- c("..", "+++")
     X
     stopifnot(x == X, identical(aX, attributes(X)), nzchar(comment(X)))

In [20]:
date()

[1] "Fri Nov  1 17:46:00 2024"

In [21]:
strsplit(c(date(), "hola mundo"), split=" ")

[[1]]
[1] "Fri"      "Nov"      ""         "1"        "17:46:00" "2024"

[[2]]
[1] "hola"  "mundo"

In [22]:
class(strsplit(date(), split=" "))

[1] "list"

In [23]:
strsplit(c("Esta es una frase", "Esta es otra linda frase"), split="a ")

[[1]]
[1] "Est"   "es un" "frase"

[[2]]
[1] "Est"    "es otr" "lind"   "frase"

In [24]:
print(strsplit(c("Esta es una frase", "Esta es otra frase"), split=c(" ", "e")))

[[1]]
[1] "Esta"  "es"    "una"   "frase"

[[2]]
[1] "Esta "       "s otra fras"

## Ejemplo

In [25]:
files <- list.files()
files

[1] "BrianSena_Strings.ipynb" "Strings.ipynb"

In [26]:
print(strsplit(files, split="."))

[[1]]
 [1] "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" "" ""

[[2]]
 [1] "" "" "" "" "" "" "" "" "" "" "" "" ""

In [27]:
strsplit(files, split="\\.")

[[1]]
[1] "BrianSena_Strings" "ipynb"

[[2]]
[1] "Strings" "ipynb"

In [28]:
print(unlist(strsplit(files, split="\\.")))

[1] "BrianSena_Strings" "ipynb"             "Strings"
[4] "ipynb"

In [29]:
matrix(unlist(strsplit(files, split="\\.")), ncol=2, byrow=TRUE)

     [,1]              [,2]
[1,] BrianSena_Strings ipynb
[2,] Strings           ipynb

## Expresiones regulares

* Una expresión regular es una especie de comodín. 
* Es una forma abreviada de especificar distintas clases de cadenas de caracteres.
* En R, debes prestar atención a este punto cuando uses las funciones `grep`, `grepl`, `regexpr`, `gregexpr`, `sub`, `gsub` y `strsplit`.

In [30]:
date()

[1] "Fri Nov  1 17:46:00 2024"

In [31]:
strsplit(date(), split="[0-9]+")

[[1]]
[1] "Fri Nov  " " "         ":"         ":"         " "

In [32]:
files

[1] "BrianSena_Strings.ipynb" "Strings.ipynb"

In [33]:
files[grep("txt", files)]

character(0)

In [34]:
donde <- grep("[ia]", c("Ciencia","de","Datos"))
donde

[1] 1 3

In [35]:
c("Ciencia","de","Datos")[donde]

[1] "Ciencia" "Datos"

In [36]:
grep("e.", c("Ciencia","de","Datos"))

[1] 1

In [37]:
# Another example using strsplit()

print(strsplit("a.b.c", "."))

[[1]]
[1] "" "" "" "" ""

In [38]:
strsplit("a.b.c", "\\.")

[[1]]
[1] "a" "b" "c"

In [39]:
strsplit("a.b.c", "[.]") # ¡Cuidado!

[[1]]
[1] "a" "b" "c"

## Ejemplo

Anonimización de datos

In [40]:
data

  var_1 var_2   var_3 var_4
1 Susan Wilson  F     23
2 Greg  Gray    M     46
3 Amy   Sanders F     32
4 Laura Xeon    F     90
5 David Rogers  M     53

In [41]:
ncolumn <- paste(tolower(substr(data$var_1, 1, 1)), 
                 tolower(substr(data$var_2, 1, 1)), sep = "")
ncolumn

[1] "sw" "gg" "as" "lx" "dr"

In [42]:
paste(colnames(data)[1:2], collapse="_and_")

[1] "var_1_and_var_2"

In [43]:
data$var_1 <- ncolumn
colnames(data)[1] <- paste(colnames(data)[1:2], collapse="_and_")
data <- data[,-2]
data

  var_1_and_var_2 var_3 var_4
1 sw              F     23
2 gg              M     46
3 as              F     32
4 lx              F     90
5 dr              M     53

More info in: [R Manual](https://stat.ethz.ch/R-manual/R-devel/library/base/html/regex.html)

## Ejercicios strings (1ra parte)
1. Crea un vector de cadenas de caracteres con tu nombre y apellidos (por ejemplo, ["Rocío", "Romero", Zaliz"]). A partir de el crea una nueva cadena de caracteres con la inicial de tu nombre, un punto y tus apellidos (por ejemplo, "R. Romero Zaliz").
2. Dado un vector de cadenas de caracteres que representan fechas (por ejemplo, ["2005-11-28", "2015-10-18", "2000-01-01"], utilizando el formato AÑO-MES-DÍA), mostrar sólo las correspondientes a los meses impares.
3. Dada una cadena de caracteres con varias palabras (por ejemplo, "Esta es una frase, pero no cualquier frase.") crea un vector con cada una de las palabras de la cadena (por ejemplo, ["Esta", "es", "una", "frase", "pero", "no", "cualquier", "frase"]). Tenga en cuenta todos los caracteres de puntuación posibles.
4. Busca en un vector de cadenas de caractees aquellas que incluyan sólo vocales "a" y/o "e" o ninguna (comprueba mayúsculas y minúsculas, considera á, é, Á y É como otros caracteres y no los que buscas).
5. Dados tres vectores numéricos que representan días, meses y años, crea un vector nuevo con fechas (sólo si son válidas, si la fecha es inválida ignorarla) (Sugerencia: investigue la función `as.Date`).

# Manipulación de cadenas de caracters usando Tidyverse

## Cheat sheets

* https://github.com/rstudio/cheatsheets/raw/main/strings.pdf

In [44]:
library(tidyverse)
library(stringr)

data <- data.frame(name = c("Susan", "Greg", "Amy", "Laura", "David"), lastname = c("Wilson", "Gray", "Sanders", "Xeon", "Rogers"), gender = c("F", "M", "F", "F", "M"), age = c(23, 46, 32, 90, 53))
data

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

  name  lastname gender age
1 Susan Wilson   F      23
2 Greg  Gray     M      46
3 Amy   Sanders  F      32
4 Laura Xeon     F      90
5 David Rogers   M      53

La función <s>`nchar`</s> `str_length` indica la longitud de la cadena de caracteres.

In [45]:
data %>% pull(lastname) %>% str_length

[1] 6 4 7 4 6

La función <s>`paste`</s> `str_c` concatena varias cadenas de caracteres.

In [46]:
data$name %>% str_c(collapse = ", ")

[1] "Susan, Greg, Amy, Laura, David"

In [47]:
str_c(data$name, data$lastname, sep = " - ")

[1] "Susan - Wilson" "Greg - Gray"    "Amy - Sanders"  "Laura - Xeon"
[5] "David - Rogers"

In [48]:
data %>% unite("Full_name", c(name, lastname), remove = FALSE, sep = " - ")

  Full_name      name  lastname gender age
1 Susan - Wilson Susan Wilson   F      23
2 Greg - Gray    Greg  Gray     M      46
3 Amy - Sanders  Amy   Sanders  F      32
4 Laura - Xeon   Laura Xeon     F      90
5 David - Rogers David Rogers   M      53

In [49]:
data %>% unite("Full_name", c(name, lastname), sep = " - ")

  Full_name      gender age
1 Susan - Wilson F      23
2 Greg - Gray    M      46
3 Amy - Sanders  F      32
4 Laura - Xeon   F      90
5 David - Rogers M      53

In [50]:
data %>% unite("Full_name", c(name, lastname), remove = FALSE, sep = " - ") %>%
    separate(Full_name, c("x", "y"), remove = TRUE, sep = " - ")

  x     y       name  lastname gender age
1 Susan Wilson  Susan Wilson   F      23
2 Greg  Gray    Greg  Gray     M      46
3 Amy   Sanders Amy   Sanders  F      32
4 Laura Xeon    Laura Xeon     F      90
5 David Rogers  David Rogers   M      53

La función <s>`substr(x, inicio, parada)`</s> `str_sub(x, inicio, parada)` devuelve la subcadena en el rango de posiciones de caracteres dado inicio:parada para la cadena x.

In [51]:
data$name %>% str_sub(2, 3)

[1] "us" "re" "my" "au" "av"

## Expresiones regulares

La función `str_detect` indica si hay alguna coincidencia con el patrón indicado.

In [52]:
data[1,]

  name  lastname gender age
1 Susan Wilson   F      23

In [53]:
str_detect(data[1,], "[ae]+")

[1]  TRUE FALSE FALSE FALSE

In [54]:
data$name

[1] "Susan" "Greg"  "Amy"   "Laura" "David"

In [55]:
data$name %>% str_detect("[aeiou]")

[1]  TRUE  TRUE FALSE  TRUE  TRUE

La función `str_subset` extrae los componentes que han coincidido.components

In [56]:
data$name %>% str_subset("[aeiou]")

[1] "Susan" "Greg"  "Laura" "David"

La función `str_count` cuenta la cantidad de veces que coincide.

In [57]:
data$name %>% str_count("[aeiou]")

[1] 2 1 0 3 2

La función `str_extract` extrae el texto de la coincidencia.

In [58]:
data$name %>% str_extract("[aeiou]")

[1] "u" "e" NA  "a" "a"

In [59]:
data$name %>% str_extract_all("[aeiou]")

[[1]]
[1] "u" "a"

[[2]]
[1] "e"

[[3]]
character(0)

[[4]]
[1] "a" "u" "a"

[[5]]
[1] "a" "i"

La función `str_match` extrae partes de la coincidencia definida entre paréntesis.

In [60]:
print(data$name)

data$name %>% str_match("(.)[aeiou](..)")

[1] "Susan" "Greg"  "Amy"   "Laura" "David"

     [,1] [,2] [,3]
[1,] Susa S    sa
[2,] NA   NA   NA
[3,] NA   NA   NA
[4,] Laur L    ur
[5,] Davi D    vi

La función `str_replace` reemplaza las coincidencias por una nueva cadena de caracteres.

In [61]:
data$name %>% str_replace("[aeiou]", "*")

[1] "S*san" "Gr*g"  "Amy"   "L*ura" "D*vid"

In [62]:
data$name %>% str_replace_all("[aeiou]", "*")

[1] "S*s*n" "Gr*g"  "Amy"   "L**r*" "D*v*d"

La función <s>`strsplit`</s>`str_split` divide una cadena de caracteres en trozos.

In [63]:
data$name %>% str_split("[aeiou]")

[[1]]
[1] "S" "s" "n"

[[2]]
[1] "Gr" "g"

[[3]]
[1] "Amy"

[[4]]
[1] "L" ""  "r" ""

[[5]]
[1] "D" "v" "d"

## Ejemplo

In [64]:
library("ISLR")
College

                                        Private Apps  Accept Enroll Top10perc
Abilene Christian University            Yes      1660  1232   721   23
Adelphi University                      Yes      2186  1924   512   16
Adrian College                          Yes      1428  1097   336   22
Agnes Scott College                     Yes       417   349   137   60
Alaska Pacific University               Yes       193   146    55   16
Albertson College                       Yes       587   479   158   38
Albertus Magnus College                 Yes       353   340   103   17
Albion College                          Yes      1899  1720   489   37
Albright College                        Yes      1038   839   227   30
Alderson-Broaddus College               Yes       582   498   172   21
Alfred University                       Yes      1732  1425   472   37
Allegheny College                       Yes      2652  1900   484   44
Allentown Coll. of St. Francis de Sales Yes      1179   780   290   38
Alma College                            Yes      1267  1080   385   44
Alverno College                         Yes       494   313   157   23
American International College          Yes      1420  1093   220    9
Amherst College                         Yes      4302   992   418   83
Anderson University                     Yes      1216   908   423   19
Andrews University                      Yes      1130   704   322   14
Angelo State University                 No       3540  2001  1016   24
Antioch University                      Yes       713   661   252   25
Appalachian State University            No       7313  4664  1910   20
Aquinas College                         Yes       619   516   219   20
Arizona State University Main campus    No      12809 10308  3761   24
Arkansas College (Lyon College)         Yes       708   334   166   46
Arkansas Tech University                No       1734  1729   951   12
Assumption College                      Yes      2135  1700   491   23
Auburn University-Main Campus           No       7548  6791  3070   25
Augsburg College                        Yes       662   513   257   12
Augustana College IL                    Yes      1879  1658   497   36
⋮                                       ⋮       ⋮     ⋮      ⋮      ⋮
Westfield State College                 No       3100 2150    825    3
Westminster College MO                  Yes       662  553    184   20
Westminster College                     Yes       996  866    377   29
Westminster College of Salt Lake City   Yes       917  720    213   21
Westmont College                        No        950  713    351   42
Wheaton College IL                      Yes      1432  920    548   56
Westminster College PA                  Yes      1738 1373    417   21
Wheeling Jesuit College                 Yes       903  755    213   15
Whitman College                         Yes      1861  998    359   45
Whittier College                        Yes      1681 1069    344   35
Whitworth College                       Yes      1121  926    372   43
Widener University                      Yes      2139 1492    502   24
Wilkes University                       Yes      1631 1431    434   15
Willamette University                   Yes      1658 1327    395   49
William Jewell College                  Yes       663  547    315   32
William Woods University                Yes       469  435    227   17
Williams College                        Yes      4186 1245    526   81
Wilson College                          Yes       167  130     46   16
Wingate College                         Yes      1239 1017    383   10
Winona State University                 No       3325 2047   1301   20
Winthrop University                     No       2320 1805    769   24
Wisconsin Lutheran College              Yes       152  128     75   17
Wittenberg University                   Yes      1979 1739    575   42
Wofford College                         Yes      1501  935    273   51
Worcester Polytechnic Institute         Yes      2768 2314    682   49
Worcester State College                 No       2197 1515    543    4
Xavier University                       Yes      1959 1805    695   24
Xavier University of Louisiana          Yes      2097 1915    695   34
Yale University                         Yes     10705 2453   1317   95
York College of Pennsylvania            Yes      2989 1855    691   28
                                        Top25perc F.Undergrad P.Undergrad
Abilene Christian University            52         2885        537
Adelphi University                      29         2683       1227
Adrian College                          50         1036         99
Agnes Scott College                     89          510         63
Alaska Pacific University               44          249        869
Albertson College                       62          678         41
Albertus Magnus College                 45          416        230
Albion College                          68         1594         32
Albright College                        63          973        306
Alderson-Broaddus College               44          799         78
Alfred University                       75         1830        110
Allegheny College                       77         1707         44
Allentown Coll. of St. Francis de Sales 64         1130        638
Alma College                            73         1306         28
Alverno College                         46         1317       1235
American International College          22         1018        287
Amherst College                         96         1593          5
Anderson University                     40         1819        281
Andrews University                      23         1586        326
Angelo State University                 54         4190       1512
Antioch University                      44          712         23
Appalachian State University            63         9940       1035
Aquinas College                         51         1251        767
Arizona State University Main campus    49        22593       7585
Arkansas College (Lyon College)         74          530        182
Arkansas Tech University                52         3602        939
Assumption College                      59         1708        689
Auburn University-Main Campus           57        16262       1716
Augsburg College                        30         2074        726
Augustana College IL                    69         1950         38
⋮                                       ⋮         ⋮           ⋮
Westfield State College                 20        3234         941
Westminster College MO                  43         665          37
Westminster College                     58        1411          72
Westminster College of Salt Lake City   60         979         743
Westmont College                        72        1276           9
Wheaton College IL                      84        2200          56
Westminster College PA                  55        1335          30
Wheeling Jesuit College                 49         971         305
Whitman College                         77        1220          46
Whittier College                        63        1235          30
Whitworth College                       70        1270         160
Widener University                      64        2186        2171
Wilkes University                       36        1803         603
Willamette University                   80        1595         159
William Jewell College                  67        1279          75
William Woods University                39         851         120
Williams College                        96        1988          29
Wilson College                          50         199         676
Wingate College                         34        1207         157
Winona State University                 45        5800         872
Winthrop University                     61        3395         670
Wisconsin Lutheran College              41         282          22
Wittenberg University                   68        1980         144
Wofford College                         83        1059          34
Worcester Polytechnic Institute         86        2802          86
Worcester State College                 26        3089        2029
Xavier University                       47        2849        1107
Xavier University of Louisiana          61        2793         166
Yale University                         99        5217          83
York College of Pennsylvania            63        2988        1726
                                        Outstate Room.Board Books Personal PhD
Abilene Christian University             7440    3300       450   2200     70
Adelphi University                      12280    6450       750   1500     29
Adrian College                          11250    3750       400   1165     53
Agnes Scott College                     12960    5450       450    875     92
Alaska Pacific University                7560    4120       800   1500     76
Albertson College                       13500    3335       500    675     67
Albertus Magnus College                 13290    5720       500   1500     90
Albion College                          13868    4826       450    850     89
Albright College                        15595    4400       300    500     79
Alderson-Broaddus College               10468    3380       660   1800     40
Alfred University                       16548    5406       500    600     82
Allegheny College                       17080    4440       400    600     73
Allentown Coll. of St. Francis de Sales  9690    4785       600   1000     60
Alma College                            12572    4552       400    400     79
Alverno College                          8352    3640       650   2449     36
American International College           8700    4780       450   1400     78
Amherst College                         19760    5300       660   1598     93
Anderson University                     10100    3520       550   1100     48
Andrews University                       9996    3090       900   1320     62
Angelo State University                  5130    3592       500   2000     60
Antioch University                      15476    3336       400   1100     69
Appalachian State University             6806    2540        96   2000     83
Aquinas College                         11208    4124       350   1615     55
Arizona State University Main campus     7434    4850       700   2100     88
Arkansas College (Lyon College)          8644    3922       500    800     79
Arkansas Tech University                 3460    2650       450   1000     57
Assumption College                      12000    5920       500    500     93
Auburn University-Main Campus            6300    3933       600   1908     85
Augsburg College                        11902    4372       540    950     65
Augustana College IL                    13353    4173       540    821     78
⋮                                       ⋮        ⋮          ⋮     ⋮        ⋮
Westfield State College                  5542    3788       500   1300     75
Westminster College MO                  10720    4050       600   1650     66
Westminster College                     12065    3615       430    685     62
Westminster College of Salt Lake City    8820    4050       600   2025     68
Westmont College                        14320    5304       490   1410     77
Wheaton College IL                      11480    4200       530   1400     81
Westminster College PA                  18460    5970       700    850     92
Wheeling Jesuit College                 10500    4545       600    600     66
Whitman College                         16670    4900       750    800     80
Whittier College                        16249    5699       500   1998     84
Whitworth College                       12660    4500       678   2424     80
Widener University                      12350    5370       500   1350     88
Wilkes University                       11150    5130       550   1260     78
Willamette University                   14800    4620       400    790     91
William Jewell College                  10060    2970       500   2600     74
William Woods University                10535    4365       550   3700     39
Williams College                        19629    5790       500   1200     94
Wilson College                          11428    5084       450    475     67
Wingate College                          7820    3400       550   1550     69
Winona State University                  4200    2700       300   1200     53
Winthrop University                      6400    3392       580   2150     71
Wisconsin Lutheran College               9100    3700       500   1400     48
Wittenberg University                   15948    4404       400    800     82
Wofford College                         12680    4150       605   1440     91
Worcester Polytechnic Institute         15884    5370       530    730     92
Worcester State College                  6797    3900       500   1200     60
Xavier University                       11520    4960       600   1250     73
Xavier University of Louisiana           6900    4200       617    781     67
Yale University                         19840    6510       630   2115     96
York College of Pennsylvania             4990    3560       500   1250     75
                                        Terminal S.F.Ratio perc.alumni Expend
Abilene Christian University             78      18.1      12           7041
Adelphi University                       30      12.2      16          10527
Adrian College                           66      12.9      30           8735
Agnes Scott College                      97       7.7      37          19016
Alaska Pacific University                72      11.9       2          10922
Albertson College                        73       9.4      11           9727
Albertus Magnus College                  93      11.5      26           8861
Albion College                          100      13.7      37          11487
Albright College                         84      11.3      23          11644
Alderson-Broaddus College                41      11.5      15           8991
Alfred University                        88      11.3      31          10932
Allegheny College                        91       9.9      41          11711
Allentown Coll. of St. Francis de Sales  84      13.3      21           7940
Alma College                             87      15.3      32           9305
Alverno College                          69      11.1      26           8127
American International College           84      14.7      19           7355
Amherst College                          98       8.4      63          21424
Anderson University                      61      12.1      14           7994
Andrews University                       66      11.5      18          10908
Angelo State University                  62      23.1       5           4010
Antioch University                       82      11.3      35          42926
Appalachian State University             96      18.3      14           5854
Aquinas College                          65      12.7      25           6584
Arizona State University Main campus     93      18.9       5           4602
Arkansas College (Lyon College)          88      12.6      24          14579
Arkansas Tech University                 60      19.6       5           4739
Assumption College                       93      13.8      30           7100
Auburn University-Main Campus            91      16.7      18           6642
Augsburg College                         65      12.8      31           7836
Augustana College IL                     83      12.7      40           9220
⋮                                       ⋮        ⋮         ⋮           ⋮
Westfield State College                 79       15.7      20           4222
Westminster College MO                  70       12.5      20           7925
Westminster College                     78       12.5      41           8596
Westminster College of Salt Lake City   83       10.5      34           7170
Westmont College                        77       14.9      17           8837
Wheaton College IL                      83       12.7      40          11916
Westminster College PA                  96       13.2      41          22704
Wheeling Jesuit College                 71       14.1      27           7494
Whitman College                         83       10.5      51          13198
Whittier College                        92       13.6      29          11778
Whitworth College                       80       16.9      20           8328
Widener University                      86       12.6      19           9603
Wilkes University                       92       13.3      24           8543
Willamette University                   94       13.3      37          10779
William Jewell College                  80       11.2      19           7885
William Woods University                66       12.9      16           7438
Williams College                        99        9.0      64          22014
Wilson College                          76        8.3      43          10291
Wingate College                         81       13.9       8           7264
Winona State University                 60       20.2      18           5318
Winthrop University                     80       12.8      26           6729
Wisconsin Lutheran College              48        8.5      26           8960
Wittenberg University                   95       12.8      29          10414
Wofford College                         92       15.3      42           7875
Worcester Polytechnic Institute         94       15.2      34          10774
Worcester State College                 60       21.0      14           4469
Xavier University                       75       13.3      31           9189
Xavier University of Louisiana          75       14.4      20           8323
Yale University                         96        5.8      49          40386
York College of Pennsylvania            75       18.1      28           4509
                                        Grad.Rate
Abilene Christian University             60
Adelphi University                       56
Adrian College                           54
Agnes Scott College                      59
Alaska Pacific University                15
Albertson College                        55
Albertus Magnus College                  63
Albion College                           73
Albright College                         80
Alderson-Broaddus College                52
Alfred University                        73
Allegheny College                        76
Allentown Coll. of St. Francis de Sales  74
Alma College                             68
Alverno College                          55
American International College           69
Amherst College                         100
Anderson University                      59
Andrews University                       46
Angelo State University                  34
Antioch University                       48
Appalachian State University             70
Aquinas College                          65
Arizona State University Main campus     48
Arkansas College (Lyon College)          54
Arkansas Tech University                 48
Assumption College                       88
Auburn University-Main Campus            69
Augsburg College                         58
Augustana College IL                     71
⋮                                       ⋮
Westfield State College                 65
Westminster College MO                  62
Westminster College                     80
Westminster College of Salt Lake City   50
Westmont College                        87
Wheaton College IL                      85
Westminster College PA                  71
Wheeling Jesuit College                 72
Whitman College                         72

In [65]:
college.names <- rownames(College)
college.names

  [1] "Abilene Christian University"
  [2] "Adelphi University"
  [3] "Adrian College"
  [4] "Agnes Scott College"
  [5] "Alaska Pacific University"
  [6] "Albertson College"
  [7] "Albertus Magnus College"
  [8] "Albion College"
  [9] "Albright College"
 [10] "Alderson-Broaddus College"
 [11] "Alfred University"
 [12] "Allegheny College"
 [13] "Allentown Coll. of St. Francis de Sales"
 [14] "Alma College"
 [15] "Alverno College"
 [16] "American International College"
 [17] "Amherst College"
 [18] "Anderson University"
 [19] "Andrews University"
 [20] "Angelo State University"
 [21] "Antioch University"
 [22] "Appalachian State University"
 [23] "Aquinas College"
 [24] "Arizona State University Main campus"
 [25] "Arkansas College (Lyon College)"
 [26] "Arkansas Tech University"
 [27] "Assumption College"
 [28] "Auburn University-Main Campus"
 [29] "Augsburg College"
 [30] "Augustana College IL"
 [31] "Augustana College"
 [32] "Austin College"
 [33] "Averett College"
 [34] "Baker University"
 [35] "Baldwin-Wallace College"
 [36] "Barat College"
 [37] "Bard College"
 [38] "Barnard College"
 [39] "Barry University"
 [40] "Baylor University"
 [41] "Beaver College"
 [42] "Bellarmine College"
 [43] "Belmont Abbey College"
 [44] "Belmont University"
 [45] "Beloit College"
 [46] "Bemidji State University"
 [47] "Benedictine College"
 [48] "Bennington College"
 [49] "Bentley College"
 [50] "Berry College"
 [51] "Bethany College"
 [52] "Bethel College KS"
 [53] "Bethel College"
 [54] "Bethune Cookman College"
 [55] "Birmingham-Southern College"
 [56] "Blackburn College"
 [57] "Bloomsburg Univ. of Pennsylvania"
 [58] "Bluefield College"
 [59] "Bluffton College"
 [60] "Boston University"
 [61] "Bowdoin College"
 [62] "Bowling Green State University"
 [63] "Bradford College"
 [64] "Bradley University"
 [65] "Brandeis University"
 [66] "Brenau University"
 [67] "Brewton-Parker College"
 [68] "Briar Cliff College"
 [69] "Bridgewater College"
 [70] "Brigham Young University at Provo"
 [71] "Brown University"
 [72] "Bryn Mawr College"
 [73] "Bucknell University"
 [74] "Buena Vista College"
 [75] "Butler University"
 [76] "Cabrini College"
 [77] "Caldwell College"
 [78] "California Lutheran University"
 [79] "California Polytechnic-San Luis"
 [80] "California State University at Fresno"
 [81] "Calvin College"
 [82] "Campbell University"
 [83] "Campbellsville College"
 [84] "Canisius College"
 [85] "Capital University"
 [86] "Capitol College"
 [87] "Carleton College"
 [88] "Carnegie Mellon University"
 [89] "Carroll College"
 [90] "Carson-Newman College"
 [91] "Carthage College"
 [92] "Case Western Reserve University"
 [93] "Castleton State College"
 [94] "Catawba College"
 [95] "Catholic University of America"
 [96] "Cazenovia College"
 [97] "Cedar Crest College"
 [98] "Cedarville College"
 [99] "Centenary College"
[100] "Centenary College of Louisiana"
[101] "Center for Creative Studies"
[102] "Central College"
[103] "Central Connecticut State University"
[104] "Central Missouri State University"
[105] "Central Washington University"
[106] "Central Wesleyan College"
[107] "Centre College"
[108] "Chapman University"
[109] "Chatham College"
[110] "Chestnut Hill College"
[111] "Christendom College"
[112] "Christian Brothers University"
[113] "Christopher Newport University"
[114] "Claflin College"
[115] "Claremont McKenna College"
[116] "Clark University"
[117] "Clarke College"
[118] "Clarkson University"
[119] "Clemson University"
[120] "Clinch Valley Coll. of  the Univ. of Virginia"
[121] "Coe College"
[122] "Coker College"
[123] "Colby College"
[124] "Colgate University"
[125] "College Misericordia"
[126] "College of Charleston"
[127] "College of Mount St. Joseph"
[128] "College of Mount St. Vincent"
[129] "College of Notre Dame"
[130] "College of Notre Dame of Maryland"
[131] "College of Saint Benedict"
[132] "College of Saint Catherine"
[133] "College of Saint Elizabeth"
[134] "College of Saint Rose"
[135] "College of Santa Fe"
[136] "College of St. Joseph"
[137] "College of St. Scholastica"
[138] "College of the Holy Cross"
[139] "College of William and Mary"
[140] "College of Wooster"
[141] "Colorado College"
[142] "Colorado State University"
[143] "Columbia College MO"
[144] "Columbia College"
[145] "Columbia University"
[146] "Concordia College at St. Paul"
[147] "Concordia Lutheran College"
[148] "Concordia University CA"
[149] "Concordia University"
[150] "Connecticut College"
[151] "Converse College"
[152] "Cornell College"
[153] "Creighton University"
[154] "Culver-Stockton College"
[155] "Cumberland College"
[156] "D'Youville College"
[157] "Dana College"
[158] "Daniel Webster College"
[159] "Dartmouth College"
[160] "Davidson College"
[161] "Defiance College"
[162] "Delta State University"
[163] "Denison University"
[164] "DePauw University"
[165] "Dickinson College"
[166] "Dickinson State University"
[167] "Dillard University"
[168] "Doane College"
[169] "Dominican College of Blauvelt"
[170] "Dordt College"
[171] "Dowling College"
[172] "Drake University"
[173] "Drew University"
[174] "Drury College"
[175] "Duke University"
[176] "Earlham College"
[177] "East Carolina University"
[178] "East Tennessee State University"
[179] "East Texas Baptist University"
[180] "Eastern College"
[181] "Eastern Connecticut State University"
[182] "Eastern Illinois University"
[183] "Eastern Mennonite College"
[184] "Eastern Nazarene College"
[185] "Eckerd College"
[186] "Elizabethtown College"
[187] "Elmira College"
[188] "Elms College"
[189] "Elon College"
[190] "Embry Riddle Aeronautical University"
[191] "Emory & Henry College"
[192] "Emory University"
[193] "Emporia State University"
[194] "Erskine College"
[195] "Eureka College"
[196] "Evergreen State College"
[197] "Fairfield University"
[198] "Fayetteville State University"
[199] "Ferrum College"
[200] "Flagler College"
[201] "Florida Institute of Technology"
[202] "Florida International University"
[203] "Florida Southern College"
[204] "Florida State University"
[205] "Fontbonne College"
[206] "Fordham University"
[207] "Fort Lewis College"
[208] "Francis Marion University"
[209] "Franciscan University of Steubenville"
[210] "Franklin College"
[211] "Franklin Pierce College"
[212] "Freed-Hardeman University"
[213] "Fresno Pacific College"
[214] "Furman University"
[215] "Gannon University"
[216] "Gardner Webb University"
[217] "Geneva College"
[218] "George Fox College"
[219] "George Mason University"
[220] "George Washington University"
[221] "Georgetown College"
[222] "Georgetown University"
[223] "Georgia Institute of Technology"
[224] "Georgia State University"
[225] "Georgian Court College"
[226] "Gettysburg College"
[227] "Goldey Beacom College"
[228] "Gonzaga University"
[229] "Gordon College"
[230] "Goshen College"
[231] "Goucher College"
[232] "Grace College and Seminary"
[233] "Graceland College"
[234] "Grand Valley State University"
[235] "Green Mountain College"
[236] "Greensboro College"
[237] "Greenville College"
[238] "Grinnell College"
[239] "Grove City College"
[240] "Guilford College"
[241] "Gustavus Adolphus College"
[242] "Gwynedd Mercy College"
[243] "Hamilton College"
[244] "Hamline University"
[245] "Hampden - Sydney College"
[246] "Hampton University"
[247] "Hanover College"
[248] "Hardin-Simmons University"
[249] "Harding University"
[250] "Hartwick College"
[251] "Harvard University"
[252] "Harvey Mudd College"
[253] "Hastings College"
[254] "Hendrix College"
[255] "Hillsdale College"
[256] "Hiram College"
[257] "Hobart and William Smith Colleges"
[258] "Hofstra University"
[259] "Hollins College"
[260] "Hood College"
[261] "Hope College"
[262] "Houghton College"
[263] "Huntingdon College"
[264] "Huntington College"
[265] "Huron University"
[266] "Husson College"
[267] "Illinois Benedictine College"
[268] "Illinois College"
[269] "Illinois Institute of Technology"
[270] "Illinois State University"
[271] "Illinois Wesleyan University"
[272] "Immaculata College"
[273] "Incarnate Word College"
[274] "Indiana State University"
[275] "Indiana University at Bloomington"
[276] "Indiana Wesleyan University"
[277] "Iona College"
[278] "Iowa State University"
[279] "Ithaca College"
[280] "James Madison University"
[281] "Jamestown College"
[282] "Jersey City State College"
[283] "John Brown University"
[284] "John Carroll University"
[285] "Johns Hopkins University"
[286] "Johnson State College"
[287] "Judson College"
[288] "Juniata College"
[289] "Kansas State University"
[290] "Kansas Wesleyan University"
[291] "Keene State College"
[292] "Kentucky Wesleyan College"
[293] "Kenyon College"
[294] "Keuka College"
[295] "King's College"
[296] "King College"
[297] "Knox College"
[298] "La Roche College"
[299] "La Salle University"
[300] "Lafayette College"
[301] "LaGrange College"
[302] "Lake Forest College"
[303] "Lakeland College"
[304] "Lamar University"
[305] "Lambuth University"
[306] "Lander University"
[307] "Lawrence University"
[308] "Le Moyne College"
[309] "Lebanon Valley College"
[310] "Lehigh University"
[311] "Lenoir-Rhyne College"
[312] "Lesley College"
[313] "LeTourneau University"
[314] "Lewis and Clark College"
[315] "Lewis University"
[316] "Lincoln Memorial University"
[317] "Lincoln University"
[318] "Lindenwood College"
[319] "Linfield College"
[320] "Livingstone College"
[321] "Lock Haven University of Pennsylvania"
[322] "Longwood College"
[323] "Loras College"
[324] "Louisiana College"
[325] "Louisiana State University at Baton Rouge"
[326] "Louisiana Tech University"
[327] "Loyola College"
[328] "Loyola Marymount University"
[329] "Loyola University"
[330] "Loyola University Chicago"
[331] "Luther College"
[332] "Lycoming College"
[333] "Lynchburg College"
[334] "Lyndon State College"
[335] "Macalester College"
[336] "MacMurray College"
[337] "Malone College"
[338] "Manchester College"
[339] "Manhattan College"
[340] "Manhattanville College"
[341] "Mankato State University"
[342] "Marian College of Fond du Lac"
[343] "Marietta College"
[344] "Marist College"
[345] "Marquette University"
[346] "Marshall University"
[347] "Mary Baldwin College"
[348] "Mary Washington College"
[349] "Marymount College Tarrytown"
[350] "Marymount Manhattan College"
[351] "Marymount University"
[352] "Maryville College"
[353] "Maryville University"
[354] "Marywood College"
[355] "Massachusetts Institute of Technology"
[356] "Mayville State University"
[357] "McKendree College"
[358] "McMurry University"
[359] "McPherson College"
[360] "Mercer University"
[361] "Mercyhurst College"
[362] "Meredith College"
[363] "Merrimack College"
[364] "Mesa State College"
[365] "Messiah College"
[366] "Miami University at Oxford"
[367] "Michigan State University"
[368] "Michigan Technological University"
[369] "MidAmerica Nazarene College"
[370] "Millersville University of Penn."
[371] "Milligan College"
[372] "Millikin University"
[373] "Millsaps College"
[374] "Milwaukee School of Engineering"
[375] "Mississippi College"
[376] "Mississippi State University"
[377] "Mississippi University for Women"
[378] "Missouri Southern State College"
[379] "Missouri Valley College"
[380] "Monmouth College IL"
[381] "Monmouth College"
[382] "Montana College of Mineral Sci. & Tech."
[383] "Montana State University"
[384] "Montclair State University"
[385] "Montreat-Anderson College"
[386] "Moorhead State University"
[387] "Moravian College"
[388] "Morehouse College"
[389] "Morningside College"
[390] "Morris College"
[391] "Mount Holyoke College"
[392] "Mount Marty College"
[393] "Mount Mary College"
[394] "Mount Mercy College"
[395] "Mount Saint Clare College"
[396] "Mount Saint Mary's College"
[397] "Mount Saint Mary College"
[398] "Mount St. Mary's College"
[399] "Mount Union College"
[400] "Mount Vernon Nazarene College"
[401] "Muhlenberg College"
[402] "Murray State University"
[403] "Muskingum College"
[404] "National-Louis University"
[405] "Nazareth College of Rochester"
[406] "New Jersey Institute of Technology"
[407] "New Mexico Institute of Mining and Tech."
[408] "New York University"
[409] "Newberry College"
[410] "Niagara University"
[411] "North Adams State College"
[412] "North Carolina A. & T. State University"
[413] "North Carolina State University at Raleigh"
[414] "North Carolina Wesleyan College"
[415] "North Central College"
[416] "North Dakota State University"
[417] "North Park College"
[418] "Northeast Missouri State University"
[419] "Northeastern University"
[420] "Northern Arizona University"
[421] "Northern Illinois University"
[422] "Northwest Missouri State University"
[423] "Northwest Nazarene College"
[424] "Northwestern College"
[425] "Northwestern University"
[426] "Norwich University"
[427] "Notre Dame College"
[428] "Oakland University"
[429] "Oberlin College"
[430] "Occidental College"
[431] "Oglethorpe University"
[432] "Ohio Northern University"
[433] "Ohio University"
[434] "Ohio Wesleyan University"
[435] "Oklahoma Baptist University"
[436] "Oklahoma Christian University"
[437] "Oklahoma State University"
[438] "Otterbein College"
[439] "Ouachita Baptist University"
[440] "Our Lady of the Lake University"
[441] "Pace University"
[442] "Pacific Lutheran University"
[443] "Pacific Union College"
[444] "Pacific University"
[445] "Pembroke State University"
[446] "Pennsylvania State Univ. Main Campus"
[447] "Pepperdine University"
[448] "Peru State College"
[449] "Pfeiffer College"
[450] "Philadelphia Coll. of Textiles and Sci."
[451] "Phillips University"
[452] "Piedmont College"
[453] "Pikeville College"
[454] "Pitzer College"
[455] "Point Loma Nazarene College"
[456] "Point Park College"
[457] "Polytechnic University"
[458] "Prairie View A. and M. University"
[459] "Presbyterian College"
[460] "Princeton University"
[461] "Providence College"
[462] "Purdue University at West Lafayette"
[463] "Queens College"
[464] "Quincy University"
[465] "Quinnipiac College"
[466] "Radford University"
[467] "Ramapo College of New Jersey"
[468] "Randolph-Macon College"
[469] "Randolph-Macon Woman's College"
[470] "Reed College"
[471] "Regis College"
[472] "Rensselaer Polytechnic Institute"
[473] "Rhodes College"
[474] "Rider University"
[475] "Ripon College"
[476] "Rivier College"
[477] "Roanoke College"
[478] "Rockhurst College"
[479] "Rocky Mountain College"
[480] "Roger Williams University"
[481] "Rollins College"
[482] "Rosary College"
[483] "Rowan College of New Jersey"
[484] "Rutgers at New Brunswick"
[485] "Rutgers State University at Camden"
[486] "Rutgers State University at Newark"
[487] "Sacred Heart University"
[488] "Saint Ambrose University"
[489] "Saint Anselm College"
[490] "Saint Cloud State University"
[491] "Saint Francis College IN"
[492] "Saint Francis College"
[493] "Saint John's University"
[494] "Saint Joseph's College IN"
[495] "Saint Joseph's College"
[496] "Saint Joseph's University"
[497] "Saint Joseph College"
[498] "Saint Louis University"
[499] "Saint Mary's College"
[500] "Saint Mary's College of Minnesota"
[501] "Saint Mary-of-the-Woods College"
[502] "Saint Michael's College"
[503] "Saint Olaf College"
[504] "Saint Peter's College"
[505] "Saint Vincent College"
[506] "Saint Xavier University"
[507] "Salem-Teikyo University"
[508] "Salem College"
[509] "Salisbury State University"
[510] "Samford University"
[511] "San Diego State University"
[512] "Santa Clara University"
[513] "Sarah Lawrence College"
[514] "Savannah Coll. of Art and Design"
[515] "Schreiner College"
[516] "Scripps College"
[517] "Seattle Pacific University"
[518] "Seattle University"
[519] "Seton Hall University"
[520] "Seton Hill College"
[521] "Shippensburg University of Penn."
[522] "Shorter College"
[523] "Siena College"
[524] "Siena Heights College"
[525] "Simmons College"
[526] "Simpson College"
[527] "Sioux Falls College"
[528] "Skidmore College"
[529] "Smith College"
[530] "South Dakota State University"
[531] "Southeast Missouri State University"
[532] "Southeastern Oklahoma State Univ."
[533] "Southern California College"
[534] "Southern Illinois University at Edwardsville"
[535] "Southern Methodist University"
[536] "Southwest Baptist University"
[537] "Southwest Missouri State University"
[538] "Southwest State University"
[539] "Southwestern Adventist College"
[540] "Southwestern College"
[541] "Southwestern University"
[542] "Spalding University"
[543] "Spelman College"
[544] "Spring Arbor College"
[545] "St. Bonaventure University"
[546] "St. John's College"
[547] "St. John Fisher College"
[548] "St. Lawrence University"
[549] "St. Martin's College"
[550] "St. Mary's College of California"
[551] "St. Mary's College of Maryland"
[552] "St. Mary's University of San Antonio"
[553] "St. Norbert College"
[554] "St. Paul's College"
[555] "St. Thomas Aquinas College"
[556] "Stephens College"
[557] "Stetson University"
[558] "Stevens Institute of Technology"
[559] "Stockton College of New Jersey"
[560] "Stonehill College"
[561] "SUNY at Albany"
[562] "SUNY at Binghamton"
[563] "SUNY at Buffalo"
[564] "SUNY at Stony Brook"
[565] "SUNY College  at Brockport"
[566] "SUNY College  at Oswego"
[567] "SUNY College at Buffalo"
[568] "SUNY College at Cortland"
[569] "SUNY College at Fredonia"
[570] "SUNY College at Geneseo"
[571] "SUNY College at New Paltz"
[572] "SUNY College at Plattsburgh"
[573] "SUNY College at Potsdam"
[574] "SUNY College at Purchase"
[575] "Susquehanna University"
[576] "Sweet Briar College"
[577] "Syracuse University"
[578] "Tabor College"
[579] "Talladega College"
[580] "Taylor University"
[581] "Tennessee Wesleyan College"
[582] "Texas A&M Univ. at College Station"
[583] "Texas A&M University at Galveston"
[584] "Texas Christian University"
[585] "Texas Lutheran College"
[586] "Texas Southern University"
[587] "Texas Wesleyan University"
[588] "The Citadel"
[589] "Thiel College"
[590] "Tiffin University"
[591] "Transylvania University"
[592] "Trenton State College"
[593] "Tri-State University"
[594] "Trinity College CT"
[595] "Trinity College DC"
[596] "Trinity College VT"
[597] "Trinity University"
[598] "Tulane University"
[599] "Tusculum College"
[600] "Tuskegee University"
[601] "Union College KY"
[602] "Union College NY"
[603] "Univ. of Wisconsin at OshKosh"
[604] "University of Alabama at Birmingham"
[605] "University of Arkansas at Fayetteville"
[606] "University of California at Berkeley"
[607] "University of California at Irvine"
[608] "University of Central Florida"
[609] "University of Charleston"
[610] "University of Chicago"
[611] "University of Cincinnati"
[612] "University of Connecticut at Storrs"
[613] "University of Dallas"
[614] "University of Dayton"
[615] "University of Delaware"
[616] "University of Denver"
[617] "University of Detroit Mercy"
[618] "University of Dubuque"
[619] "University of Evansville"
[620] "University of Florida"
[621] "University of Georgia"
[622] "University of Hartford"
[623] "University of Hawaii at Manoa"
[624] "University of Illinois - Urbana"
[625] "University of Illinois at Chicago"
[626] "University of Indianapolis"
[627] "University of Kansas"
[628] "University of La Verne"
[629] "University of Louisville"
[630] "University of Maine at Farmington"
[631] "University of Maine at Machias"
[632] "University of Maine at Presque Isle"
[633] "University of Maryland at Baltimore County"
[634] "University of Maryland at College Park"
[635] "University of Massachusetts at Amherst"
[636] "University of Massachusetts at Dartmouth"
[637] "University of Miami"
[638] "University of Michigan at Ann Arbor"
[639] "University of Minnesota at Duluth"
[640] "University of Minnesota at Morris"
[641] "University of Minnesota Twin Cities"
[642] "University of Mississippi"
[643] "University of Missouri at Columbia"
[644] "University of Missouri at Rolla"
[645] "University of Missouri at Saint Louis"
[646] "University of Mobile"
[647] "University of Montevallo"
[648] "University of Nebraska at Lincoln"
[649] "University of New England"
[650] "University of New Hampshire"

1. Obtener un vector que contenga todas las universidades con `Texas` en su nombre. ¿Cuántas hay?

In [66]:
college.names %>% str_count("Texas") %>% sum

[1] 11

2. Obtener un vector de todas las filas del conjunto de datos College que contengan el término "University" (HINT: `str_which`).

In [67]:
college.names %>% str_detect("University")

  [1]  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
 [13] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE
 [25] FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
 [37] FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE
 [49] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE
 [61] FALSE  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE
 [73]  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE
 [85]  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE
 [97] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE  TRUE
[109] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE
[121] FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[133] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE
[145]  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
[157] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE FALSE
[169] FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE  TRUE  TRUE  TRUE FALSE
[181]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE
[193]  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE
[205] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE  TRUE
[217] FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE
[229] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[241] FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE  TRUE FALSE  TRUE FALSE
[253] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[265]  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE
[277] FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE
[289]  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[301] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE
[313]  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE
[325]  TRUE  TRUE FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[337] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE
[349] FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE  TRUE
[361] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE  TRUE
[373] FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE
[385] FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[397] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE
[409] FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE  TRUE  TRUE
[421]  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE  TRUE  TRUE
[433]  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE
[445]  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[457]  TRUE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE  TRUE FALSE FALSE
[469] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE  TRUE
[481] FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE
[493]  TRUE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE
[505] FALSE  TRUE  TRUE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE
[517]  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[529] FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE
[541]  TRUE  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE FALSE FALSE FALSE  TRUE
[553] FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[565] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE
[577]  TRUE FALSE FALSE  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE  TRUE FALSE
[589] FALSE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE FALSE  TRUE
[601] FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[613]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[625]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[637]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[649]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[661]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[673]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[685]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
[697]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE
[709]  TRUE FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE
[721]  TRUE  TRUE FALSE FALSE FALSE  TRUE FALSE  TRUE  TRUE FALSE FALSE FALSE
[733]  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE FALSE  TRUE
[745] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[757] FALSE FALSE  TRUE  TRUE  TRUE FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE
[769] FALSE  TRUE FALSE FALSE FALSE  TRUE  TRUE  TRUE FALSE

3. ¿Cuántas "University" hay en el conjunto de datos frente a "College"?

In [68]:
college.names %>% str_count("Univer") %>% sum

[1] 345

In [69]:
college.names %>% str_count("Coll") %>% sum

[1] 410

In [72]:
345+410 == length(college.names)

[1] FALSE

[1] 777

## Ejercicios string (2da parte)

Lo mismo que en la parte 1 pero usando las funciones de `stringr`.

1. Crea un vector de cadenas de caracteres con tu nombre y apellidos (por ejemplo, ["Rocío", "Romero", Zaliz"]). A partir de el crea una nueva cadena de caracteres con la inicial de tu nombre, un punto y tus apellidos (por ejemplo, "R. Romero Zaliz").
2. Dado un vector de cadenas de caracteres que representan fechas (por ejemplo, ["2005-11-28", "2015-10-18", "2000-01-01"], utilizando el formato AÑO-MES-DÍA), mostrar sólo las correspondientes a los meses impares.
3. Dada una cadena de caracteres con varias palabras (por ejemplo, "Esta es una frase, pero no cualquier frase.") crea un vector con cada una de las palabras de la cadena (por ejemplo, ["Esta", "es", "una", "frase", "pero", "no", "cualquier", "frase"]). Tenga en cuenta todos los caracteres de puntuación posibles.
4. Busca en un vector de cadenas de caractees aquellas que incluyan sólo vocales "a" y/o "e" o ninguna (comprueba mayúsculas y minúsculas, considera á, é, Á y É como otros caracteres y no los que buscas).
5. Dados tres vectores numéricos que representan días, meses y años, crea un vector nuevo con fechas (sólo si son válidas, si la fecha es inválida ignorarla) (Sugerencia: investigue la función `as.Date`).

# References

* Gaston Sanchez. Handling and Processing Strings in R. https://www.gastonsanchez.com/Handling_and_Processing_Strings_in_R.pdf
* R-tutorials. http://r-tutorials.com
* Norman Matloff. 2011. The Art of R Programming: A Tour of Statistical Software Design (1st ed.). No Starch Press, San Francisco, CA, USA.
* Patrick Burns. 2011. The R Inferno.