# __Nombre__: Brian Sena Simons

### Ejercicios data frames
1) Usando el dataset `mtcars`:
    * Muestra las 5 primeras filas
    * Presenta un resumen del datasest

In [37]:
head(mtcars, n = 5)
summary(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

      mpg             cyl             disp             hp
 Min.   :10.40   Min.   :4.000   Min.   : 71.1   Min.   : 52.0
 1st Qu.:15.43   1st Qu.:4.000   1st Qu.:120.8   1st Qu.: 96.5
 Median :19.20   Median :6.000   Median :196.3   Median :123.0
 Mean   :20.09   Mean   :6.188   Mean   :230.7   Mean   :146.7
 3rd Qu.:22.80   3rd Qu.:8.000   3rd Qu.:326.0   3rd Qu.:180.0
 Max.   :33.90   Max.   :8.000   Max.   :472.0   Max.   :335.0
      drat             wt             qsec             vs
 Min.   :2.760   Min.   :1.513   Min.   :14.50   Min.   :0.0000
 1st Qu.:3.080   1st Qu.:2.581   1st Qu.:16.89   1st Qu.:0.0000
 Median :3.695   Median :3.325   Median :17.71   Median :0.0000
 Mean   :3.597   Mean   :3.217   Mean   :17.85   Mean   :0.4375
 3rd Qu.:3.920   3rd Qu.:3.610   3rd Qu.:18.90   3rd Qu.:1.0000
 Max.   :4.930   Max.   :5.424   Max.   :22.90   Max.   :1.0000
       am              gear            carb
 Min.   :0.0000   Min.   :3.000   Min.   :1.000
 1st Qu.:0.0000   1st Qu.:3.000   1st Qu.:2.000
 Median :0.0000   Median :4.000   Median :2.000
 Mean   :0.4062   Mean   :3.688   Mean   :2.812
 3rd Qu.:1.0000   3rd Qu.:4.000   3rd Qu.:4.000
 Max.   :1.0000   Max.   :5.000   Max.   :8.000

* Haz una copia del dataset y:
    * Convierte la variables "cyl", "gear" y "carb" en factores
    * Convierte las variables "vs" y "am" en lógicas
    * Muestra solo los coches con una potencia ("hp") mayor a 100

In [7]:
cmtcars <- mtcars
cols <- c("cyl", "gear", "carb")
cmtcars[, cols[1]] <- as.factor(cmtcars[, cols[1]])
cmtcars[, cols[2]] <- as.factor(cmtcars[, cols[2]])
cmtcars[, cols[3]] <- as.factor(cmtcars[, cols[3]])
print("El factor cyl:")
print(cmtcars[, cols[1]])
cmtcars$vs <- as.logical(cmtcars$vs)
cmtcars$am <- as.logical(cmtcars$am)
print("Los 5 primeros valors de vs:")
print(cmtcars$vs[1:5])
print(cmtcars[cmtcars$hp > 100, ])

[1] "El factor cyl:"
 [1] 6 6 4 6 8 6 8 4 4 6 6 8 8 8 8 8 8 4 4 4 4 8 8 8 8 4 4 4 8 6 8 4
Levels: 4 6 8
[1] "Los 5 primeros valors de vs:"

[1] FALSE FALSE  TRUE  TRUE FALSE
                     mpg cyl  disp  hp drat    wt  qsec    vs    am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46 FALSE  TRUE    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02 FALSE  TRUE    4    4
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  TRUE FALSE    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02 FALSE FALSE    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  TRUE FALSE    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84 FALSE FALSE    3    4
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  TRUE FALSE    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  TRUE FALSE    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40 FALSE FALSE    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60 FALSE FALSE    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00 FALSE FALSE    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98 FALSE FALSE    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82 FALSE FALSE    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42 FALSE FALSE    3    4
Dodge Challenger    15.5   8 318.0 150 2.76 3.520 16.87 FALSE FALSE    3    2
AMC Javelin         15.2   8 304.0 150 3.15 3.435 17.30 FALSE FALSE    3    2
Camaro Z28          13.3   8 350.0 245 3.73 3.840 15.41 FALSE FALSE    3    4
Pontiac Firebird    19.2   8 400.0 175 3.08 3.845 17.05 FALSE FALSE    3    2
Lotus Europa        30.4   4  95.1 113 3.77 1.513 16.90  TRUE  TRUE    5    2
Ford Pantera L      15.8   8 351.0 264 4.22 3.170 14.50 FALSE  TRUE    5    4
Ferrari Dino        19.7   6 145.0 175 3.62 2.770 15.50 FALSE  TRUE    5    6
Maserati Bora       15.0   8 301.0 335 3.54 3.570 14.60 FALSE  TRUE    5    8
Volvo 142E          21.4   4 121.0 109 4.11 2.780 18.60  TRUE  TRUE    4    2

* Con la copia:
  * Crea un nuevo data frame llamado coches_seleccionados que incluya solo las columnas "mpg", "cyl", "hp" y "qsec" del dataset
  * Calcula el resumen estadístico (media, mediana, desviación estándar, etc.) de la columna "mpg" (millas por galón) para todos los coches en el dataset
  * Idem para "cyl" (número de cilindros)
  * Calcula la cantidad total de coches para cada valor único en la columna "cyl" (número de cilindros)
  * Encuentra el modelo de coche con la mayor potencia ("hp") y muestra su información completa
  * Calcula el promedio de potencia de los coches con 8 cilindros

In [9]:
coches_seleccionados <- cmtcars[, c("mpg", "cyl", "hp", "qsec")]
print(coches_seleccionados[1:5, ])
summary(coches_seleccionados$mpg)
summary(as.numeric(as.character(coches_seleccionados$cyl)))
print(
  "La cantidad total de coches para cada cyl viene dado en el resumen anterior."
)
print(
  coches_seleccionados[
    coches_seleccionados$hp == max(coches_seleccionados$hp),
  ]
)
print("Promedio de potencia para coches con 8 cilindros:")
mean(coches_seleccionados[coches_seleccionados$cyl == 8, "hp"])

                   mpg cyl  hp  qsec
Mazda RX4         21.0   6 110 16.46
Mazda RX4 Wag     21.0   6 110 17.02
Datsun 710        22.8   4  93 18.61
Hornet 4 Drive    21.4   6 110 19.44
Hornet Sportabout 18.7   8 175 17.02

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  10.40   15.43   19.20   20.09   22.80   33.90

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  4.000   4.000   6.000   6.188   8.000   8.000

[1] "La cantidad total de coches para cada cyl viene dado en el resumen anterior."
              mpg cyl  hp qsec
Maserati Bora  15   8 335 14.6
[1] "Promedio de potencia para coches con 8 cilindros:"

[1] 209.2143

2) Usando el dataset `Cars93` del paquete `MASS` y el dataset `mtcars`:
    * Agrega una columna al dataset de `mtcars` que contenga la marca y modelo de cada coche
    * Combina los dos dataset por modelo y marca del coche solo para aquellos modelos presentes en ambos datasets. ¿Coinciden los demás valores?

In [40]:
library(MASS)
head(Cars93, n = 5)
print(names(Cars93))
head(mtcars, n = 5)

  Manufacturer Model   Type    Min.Price Price Max.Price MPG.city MPG.highway
1 Acura        Integra Small   12.9      15.9  18.8      25       31
2 Acura        Legend  Midsize 29.2      33.9  38.7      18       25
3 Audi         90      Compact 25.9      29.1  32.3      20       26
4 Audi         100     Midsize 30.8      37.7  44.6      19       26
5 BMW          535i    Midsize 23.7      30.0  36.2      22       30
  AirBags            DriveTrain ⋯ Passengers Length Wheelbase Width Turn.circle
1 None               Front      ⋯ 5          177    102       68    37
2 Driver & Passenger Front      ⋯ 5          195    115       71    38
3 Driver only        Front      ⋯ 5          180    102       67    37
4 Driver & Passenger Front      ⋯ 6          193    106       70    37
5 Driver only        Rear       ⋯ 4          186    109       69    39
  Rear.seat.room Luggage.room Weight Origin  Make
1 26.5           11           2705   non-USA Acura Integra
2 30.0           15           3560   non-USA Acura Legend
3 28.0           14           3375   non-USA Audi 90
4 31.0           17           3405   non-USA Audi 100
5 27.0           13           3640   non-USA BMW 535i

 [1] "Manufacturer"       "Model"              "Type"
 [4] "Min.Price"          "Price"              "Max.Price"
 [7] "MPG.city"           "MPG.highway"        "AirBags"
[10] "DriveTrain"         "Cylinders"          "EngineSize"
[13] "Horsepower"         "RPM"                "Rev.per.mile"
[16] "Man.trans.avail"    "Fuel.tank.capacity" "Passengers"
[19] "Length"             "Wheelbase"          "Width"
[22] "Turn.circle"        "Rear.seat.room"     "Luggage.room"
[25] "Weight"             "Origin"             "Make"

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2

In [41]:
cpcars93 <- Cars93
cmtcars <- mtcars
print("Agregamos una columna 'Make' con la marca y modelo")
cmtcars[, "Make"] <- row.names(cmtcars)
print("Mergeamos ambos dataframes utilizando la columna 'Make'")
merged <- merge(cmtcars, cpcars93, by = "Make", all = FALSE)
head(merged, n = 5)
cols <- c(
  "Make",
  "cyl", "Cylinders", "Horsepower", "hp",
  "wt", "Weight", "mpg", "MPG.city", "MPG.highway"
)
merged[, cols]

[1] "Agregamos una columna 'Make' con la marca y modelo"
[1] "Mergeamos ambos dataframes utilizando la columna 'Make'"

  Make                mpg  cyl disp  hp  drat wt    qsec  vs am ⋯
1 Chrysler Imperial   14.7 8   440.0 230 3.23 5.345 17.42 0  0  ⋯
2 Honda Civic         30.4 4    75.7  52 4.93 1.615 18.52 1  1  ⋯
3 Lincoln Continental 10.4 8   460.0 215 3.00 5.424 17.82 0  0  ⋯
4 Pontiac Firebird    19.2 8   400.0 175 3.08 3.845 17.05 0  0  ⋯
  Fuel.tank.capacity Passengers Length Wheelbase Width Turn.circle
1 16.0               6          203    110       69    44
2 11.9               4          173    103       67    36
3 18.4               6          205    109       73    42
4 15.5               4          196    101       75    43
  Rear.seat.room Luggage.room Weight Origin
1 36             17           3570   USA
2 28             12           2350   non-USA
3 30             19           3695   USA
4 25             13           3240   USA

  Make                cyl Cylinders Horsepower hp  wt    Weight mpg  MPG.city
1 Chrysler Imperial   8   6         147        230 5.345 3570   14.7 20
2 Honda Civic         4   4         102         52 1.615 2350   30.4 42
3 Lincoln Continental 8   6         160        215 5.424 3695   10.4 17
4 Pontiac Firebird    8   6         160        175 3.845 3240   19.2 19
  MPG.highway
1 26
2 46
3 26
4 28

__Respuesta__: _Los valores no coinciden pese a estar en las mismas dimensiones (excepto wt que está en 1000 libras y, por ello, para comparar habría que multiplicar-lo por 1000). \
Una posible explicación es que las medidas se generaron en diferentes años (mtcars fue del 1974 y Cars93 de 1993)._

In [42]:
?mtcars

mtcars                package:datasets                 R Documentation

_M_o_t_o_r _T_r_e_n_d _C_a_r _R_o_a_d _T_e_s_t_s

_D_e_s_c_r_i_p_t_i_o_n:

     The data was extracted from the 1974 _Motor Trend_ US magazine,
     and comprises fuel consumption and 10 aspects of automobile design
     and performance for 32 automobiles (1973-74 models).

_U_s_a_g_e:

     mtcars

_F_o_r_m_a_t:

     A data frame with 32 observations on 11 (numeric) variables.

       [, 1]  ‘mpg’   Miles/(US) gallon
       [, 2]  ‘cyl’   Number of cylinders
       [, 3]  ‘disp’  Displacement (cu.in.)
       [, 4]  ‘hp’    Gross horsepower
       [, 5]  ‘drat’  Rear axle ratio
       [, 6]  ‘wt’    Weight (1000 lbs)
       [, 7]  ‘qsec’  1/4 mile time
       [, 8]  ‘vs’    Engine (0 = V-shaped, 1 = straight)
       [, 9]  ‘am’    Transmission (0 = automatic, 1 = manual)
       [,10]  ‘gear’  Number of forward gears
       [,11]  ‘carb’  Number of carburetors

_N_o_t_e:

     Henderson and Velleman (1981) comment in a footnote to Table 1:
     ‘Hocking [original transcriber]'s noncrucial coding of the Mazda's
     rotary engine as a straight six-cylinder engine and the Porsche's
     flat engine as a V engine, as well as the inclusion of the diesel
     Mercedes 240D, have been retained to enable direct comparisons to
     be made with previous analyses.’

_S_o_u_r_c_e:

     Henderson and Velleman (1981), Building multiple regression models
     interactively.  _Biometrics_, *37*, 391-411.

_E_x_a_m_p_l_e_s:

     require(graphics)
     pairs(mtcars, main = "mtcars data", gap = 1/4)
     coplot(mpg ~ disp | as.factor(cyl), data = mtcars,
            panel = panel.smooth, rows = 1)
     ## possibly more meaningful, e.g., for summary() or bivariate plots:
     mtcars2 <- within(mtcars, {
        vs <- factor(vs, labels = c("V", "S"))
        am <- factor(am, labels = c("automatic", "manual"))
        cyl  <- ordered(cyl)
        gear <- ordered(gear)
        carb <- ordered(carb)
     })
     summary(mtcars2)

In [43]:
?Cars93

Cars93                  package:MASS                   R Documentation

_D_a_t_a _f_r_o_m _9_3 _C_a_r_s _o_n _S_a_l_e _i_n _t_h_e _U_S_A _i_n _1_9_9_3

_D_e_s_c_r_i_p_t_i_o_n:

     The ‘Cars93’ data frame has 93 rows and 27 columns.

_U_s_a_g_e:

     Cars93

_F_o_r_m_a_t:

     This data frame contains the following columns:

     ‘Manufacturer’ Manufacturer.

     ‘Model’ Model.

     ‘Type’ Type: a factor with levels ‘"Small"’, ‘"Sporty"’,
          ‘"Compact"’, ‘"Midsize"’, ‘"Large"’ and ‘"Van"’.

     ‘Min.Price’ Minimum Price (in $1,000): price for a basic version.

     ‘Price’ Midrange Price (in $1,000): average of ‘Min.Price’ and
          ‘Max.Price’.

     ‘Max.Price’ Maximum Price (in $1,000): price for “a premium
          version”.

     ‘MPG.city’ City MPG (miles per US gallon by EPA rating).

     ‘MPG.highway’ Highway MPG.

     ‘AirBags’ Air Bags standard. Factor: none, driver only, or driver
          & passenger.

     ‘DriveTrain’ Drive train type: rear wheel, front wheel or 4WD;
          (factor).

     ‘Cylinders’ Number of cylinders (missing for Mazda RX-7, which has
          a rotary engine).

     ‘EngineSize’ Engine size (litres).

     ‘Horsepower’ Horsepower (maximum).

     ‘RPM’ RPM (revs per minute at maximum horsepower).

     ‘Rev.per.mile’ Engine revolutions per mile (in highest gear).

     ‘Man.trans.avail’ Is a manual transmission version available? (yes
          or no, Factor).

     ‘Fuel.tank.capacity’ Fuel tank capacity (US gallons).

     ‘Passengers’ Passenger capacity (persons)

     ‘Length’ Length (inches).

     ‘Wheelbase’ Wheelbase (inches).

     ‘Width’ Width (inches).

     ‘Turn.circle’ U-turn space (feet).

     ‘Rear.seat.room’ Rear seat room (inches) (missing for 2-seater
          vehicles).

     ‘Luggage.room’ Luggage capacity (cubic feet) (missing for vans).

     ‘Weight’ Weight (pounds).

     ‘Origin’ Of non-USA or USA company origins? (factor).

     ‘Make’ Combination of Manufacturer and Model (character).

_D_e_t_a_i_l_s:

     Cars were selected at random from among 1993 passenger car models
     that were listed in both the _Consumer Reports_ issue and the
     _PACE Buying Guide_.  Pickup trucks and Sport/Utility vehicles
     were eliminated due to incomplete information in the _Consumer
     Reports_ source.  Duplicate models (e.g., Dodge Shadow and
     Plymouth Sundance) were listed at most once.

     Further description can be found in Lock (1993).

_S_o_u_r_c_e:

     Lock, R. H. (1993) 1993 New Car Data.  _Journal of Statistics
     Education_ *1*(1).  doi:10.1080/10691898.1993.11910459
     <https://doi.org/10.1080/10691898.1993.11910459>

_R_e_f_e_r_e_n_c_e_s:

     Venables, W. N. and Ripley, B. D. (2002) _Modern Applied
     Statistics with S-PLUS._ Fourth Edition. Springer.

3) Supongamos que tienes dos dataframes con información sobre estudiantes de dos cursos diferentes. Cada data frame contiene tres columnas: "Nombre", "Edad" y "Promedio".
<pre>
curso_a <- data.frame(
    Nombre = c("Juan", "María", "Carlos"),
    Edad = c(20, 22, 21),
    Promedio = c(85, 92, 78))
</pre><pre>
curso_b <- data.frame(
       Nombre = c("Ana", "Luis", "Sofía", "Lourdes"),
       Edad = c(19, 23, 20, 21),
       Promedio = c(88, 90, 85, 80))
</pre>
* Combina los dos dataframes en uno solo llamado todos_los_estudiantes
* Agrega una nueva columna llamada "Curso" al dataframe todos_los_estudiantes que indicar a qué curso pertenece cada estudiante ("A" o "B")

In [5]:
curso_a <- data.frame(
  Nombre = c("Juan", "María", "Carlos"),
  Edad = c(20, 22, 21),
  Promedio = c(85, 92, 78)
)
curso_b <- data.frame(
  Nombre = c("Ana", "Luis", "Sofía", "Lourdes"),
  Edad = c(19, 23, 20, 21),
  Promedio = c(88, 90, 85, 80)
)
todos_los_estudiantes <- rbind(curso_a, curso_b)
todos_los_estudiantes
todos_los_estudiantes <- cbind(
  todos_los_estudiantes,
  Curso = c(rep("A", nrow(curso_a)), rep("B", nrow(curso_b)))
)
todos_los_estudiantes

  Nombre  Edad Promedio
1 Juan    20   85
2 María   22   92
3 Carlos  21   78
4 Ana     19   88
5 Luis    23   90
6 Sofía   20   85
7 Lourdes 21   80

  Nombre  Edad Promedio Curso
1 Juan    20   85       A
2 María   22   92       A
3 Carlos  21   78       A
4 Ana     19   88       B
5 Luis    23   90       B
6 Sofía   20   85       B
7 Lourdes 21   80       B